{
  "plugins": [
    "transform-class-properties"
  ],
  "presets": [
    "latest",
    "react",
    "stage-0"
  ],
  "ignore": [
    "web_modules/"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }
}